*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(29, 48, 18);
    color: white;
}

#home{
    color: white;
    text-decoration: none;
    border: 3px solid white;
    padding: 10px 30px;
    position: fixed;
    top: 17px;
    margin: auto 50px;
}

header{
    max-width: 1100px;
    margin: 30px auto;
}

main{
    max-width: 1100px;
    margin: 30px auto;
}

.navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbar a:hover{
    color: rgb(29, 48, 18);
    background-color: white;
}

.navbar a{
    color: white;
    text-decoration: none;
    border: 3px solid white;
    padding: 10px 30px;
    font-weight: bolder;
}

.book{
    background-color: white;
    color: rgb(29, 48, 18);
    display: flex;
    height: 400px;
}

.add{
    text-align: center;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border: 30px solid gray;
}

.select{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border: 30px solid lightgray;
}

.select div a{
    background-color: rgb(29, 48, 18);
    color: white;
    padding: 30px 50px;
    margin: auto 15px;
}

.select div a:hover{
    color: rgb(29, 48, 18);
    background-color: orange;
}

.select p{
    padding: 50px;
}

footer{
    background-color: white;
    border-top: 10px solid lightgray;
    padding: 30px;
    text-align: center;
}

.footer{
    color: rgb(29, 48, 18);
    background-color: white;
    display: flex;
    justify-content: center;
    
    max-width: 1100px;
    margin: 10px auto;
}

.footercard{
    text-align: center;
    flex: 0 0 33%;
}

.footercard ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footercard a{
    text-decoration: none;
    color: rgb(29, 48, 18);
}

h6{
    font-size: 1.5em;
}

#up:hover{
    background-color: rgb(29, 48, 18);
    color: white;
}

footer a{
    color: rgb(29, 48, 18);
}

footer a:hover{
    text-decoration: underline;
}

footer p{
    color: rgb(29, 48, 18);
}