*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(29, 48, 18);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#home{
    display: none;
}

.navbar{
    display: flex;
    flex-direction: column;
}

.navbar li, footer li{
    list-style-type: none;
    text-align: center;
}

.navbar a, footer a{
    display: block;
    color: white;
    border: 3px solid white;
    margin: 3px auto;
    padding: 5px;
}

.card{
    border: 3px solid white;
    margin: 30px auto;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

h1{
    border: 3px solid white;
    text-align: center;
    padding: 10px;
}

main a{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 5px;
    margin: 5px;
}

.txt{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gbb .txt{
    border-top: 3px solid white;
}

.app .txt{
    border-bottom: 3px solid white;
}

.txt1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: rgb(29, 48, 18);
    min-height: 250px;
}

.sing{
    text-align: center;
}

#menu{
    text-align: center;
}

h5{
    font-size: 2em;
}

.footer{
    text-align: center;
}

h6{
    text-align: center;
    font-size: 1.5em;
}

@media (min-width: 767px) {
    .navbar{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 30px auto;
    }

    .cardoffer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .offer{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    h5{
        font-size: 1.5em;
    }
    
}