*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(29, 48, 18);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#home{
    display: none;
}

.navbar{
    display: flex;
    flex-direction: column;
}

.navbar li{
    list-style-type: none;
    margin: 10px 0;
}

.navbar a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 3px solid white;
}

main a{
    display: inline-block;
    color: rgb(29, 48, 18);
    text-decoration: none;
    text-align: center;
    border: 3px solid rgb(29, 48, 18);
    padding: 10px;
    margin: 10px;
}

img{
    width: 100%;
    display: block;
}

.type1,
.type2,
.card{
    border: 3px solid white;
    margin: 30px auto;
}

h1{
    border: 3px solid white;
    margin: 30px auto;
    text-align: center;
    padding: 10px;
}

.txt{
    text-align: center;
    background-color: lightgray;
    color: rgb(29, 48, 18);
}

h2{
    display: block;
    padding: 20px;
    text-align: center;
    background-color: rgb(29, 48, 18);
    color: white;
}

.type1 img,
.card img{
    border-bottom: 3px solid white;
}

.type2 img{
    border-top: 3px solid white;
}

.txt1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

h5{
    font-size: 1.5em;
}

.bordernone{
    display: inline;
    border: none;
    text-decoration: underline;
}

.singin{
    background-color: lightgrey;
    color: rgb(29, 48, 18);
    text-align: center;
    padding: 10px;
}

.singin a{
    background-color: orange;
}

.menu{
    background-color: lightgrey;
    color: rgb(29, 48, 18);
    margin: 30px auto;
    text-align: center;
}

footer{
    display: none;
}

@media (min-width: 767px) {
    .type3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .card{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .txt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* padding: 10px; */
    }

    .card .txt p{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 1024px) {
    #home{
        display: inline-block;
        color: white;
        text-decoration: none;
        border: 3px solid white;
        padding: 10px 30px;
        position: fixed;
        top: 10px;
        left: 60px;
    }

    #home:hover{
        color: rgb(29, 48, 18);
        background-color: white;
    }

    main{
        max-width: 1100px;
        margin: 30px auto;
    }

    .navbar{
        max-width: 1100px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar a{
        padding: 10px 30px;
    }

    .navbar a:hover{
        color: rgb(29, 48, 18);
        background-color: white;
    }

    main a:hover{
        color: white;
        background-color: rgb(29, 48, 18);
    }

    .type1,
    .type2{
        display: flex;
    }

    .type1 img{
        border-bottom: none;
        border-right: 3px solid white;
    }

    .type2 img{
        border-top: none;
        border-left: 3px solid white;
    }

    footer{
        max-width: 1100px;
        margin: 30px auto;
        padding: 30px;
        display: block;
        background-color: lightgray;
        text-align: center;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: rgb(29, 48, 18);
    }

    .footercard{
        text-align: center;
    }

    .footercard li{
        list-style-type: none;
    }

    footer a{
        color: rgb(29, 48, 18);
        text-decoration: none;
    }

    footer a:hover{
        text-decoration: underline;
    }
    
    h6{
        color: rgb(29, 48, 18);
        font-size: 1.3em;
    }
}