*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(29, 48, 18);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#home{
    display: none;
}

.navbar{
    display: flex;
    flex-direction: column;
}

.navbar li{
    list-style-type: none;
    margin: 10px 0;
}

.navbar a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 3px solid white;
}

.navbar1,
.navbar2{
    display: none;
}

main{
    color: rgb(29, 48, 18);
}

.burgers,
.sides,
.drinks,
.kids{
    background-color: rgb(182, 227, 212);
    text-align: center;
}

h1{
    display: inline-block;
    border: 5px solid rgb(29, 48, 18);
    padding: 10px;
    margin: 10px;
}

h2{
    display: block;
    border: 5px solid rgb(29, 48, 18);
    padding: 10px;
    margin: 10px auto;
}

.card a{
    display: block;
    text-decoration: none;
    color: rgb(29, 48, 18);
    border: 3px solid rgb(29, 48, 18);
    margin: 10px auto;
    padding: 10px;
}

#last{
    display: block;
    border: 3px solid rgb(29, 48, 18);
    padding: 10px;
    margin: 10px auto;
}

.s{
   display: block;
    /* border: 3px solid rgb(29, 48, 18); */
    padding: 10px;
    margin: 10px auto; 
}

.drinks li{
    margin-bottom: 10px;
}

footer{
    display: none;
}

@media (min-width: 767px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
      #home{
        display: inline-block;
        color: white;
        text-decoration: none;
        border: 3px solid white;
        padding: 10px 30px;
        position: fixed;
        top: 10px;
        left: 60px;
    }

    #home:hover{
        color: rgb(29, 48, 18);
        background-color: white;
    }

    main{
        max-width: 1100px;
        margin: 30px auto;
    }

    header{
        max-width: 1100px;
        margin: auto;
    }

    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar1,
    .navbar2{
        display: flex;
        justify-content: center;
        background-color: lightgray;
        padding: 10px;

    }

    .navbar1{
        background-color: white;
        width: 1100px;
        position: fixed;
    }

    .navbar2{
        margin-top: 78px;
    }

    .navbar1 li,
    .navbar2 li{
        list-style-type: none;
    }

    .navbar1 a,
    .navbar2 a{
        display: block;
        padding: 10px 20px;
        margin: 10px;
        /* border-right: 3px solid gray; */
        text-decoration: none;
        color: rgb(29, 48, 18);
    }

    .navbar1 li:not(:last-child) a,
    .navbar2 li:not(:last-child) a {
        border-right: 3px solid gray;
    }

    section{
        margin: 30px auto;
    }

    .burgers .cardcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
        
    }

    .burgers .cardcontainer .card{
        display: grid;
        grid-template-rows: 1fr 3fr 3fr 3fr 3fr;
    }

    h2{
        width: 100%;
    }

    .burgers .cardcontainer .card a{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #last{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burgers .cardcontainer .card a:hover{
        background-color: lightgray;
    }

    .sides1{
        /* border: 3px solid red; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .item1{
        padding: 10px;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .item2{
        padding: 10px;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item3{
        padding: 10px;
        grid-column-start: 2;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .item4{
        padding: 10px;
    }

    .sides1 .card{
        border: 3px solid rgb(29, 48, 18);
    }

    .drinks1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 20px;
        padding: 20px;
    }

    .drinks1 .item1{
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .drinks1 .item2{
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .drinks1 .item3{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .drinks1 .item4{
        width: 100%;
        /* height: 100%; */
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .drinks1 .card{
        border: 3px solid rgb(29, 48, 18);
    }

    .drinks1 h2{
        /* display: inline-block; */
        margin: 0 auto;
    }

    dt{
        font-size: 1.5em;
        font-weight: 900;
    }

    dd{
        margin-bottom: 20px;
    }

    .kids .cardcontainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .kids .card{
        display: grid;
        grid-template-rows: 1fr 3fr;
    }

    .kids a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .kids a:hover{
        background-color: lightgray;
    }

    footer{
        padding: 30px;
        display: block;
        background-color: white;
        text-align: center;
        border-top: 10px solid lightgray;
    }

    .footer{
        max-width: 1100px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: rgb(29, 48, 18);
    }

    .footercard{
        text-align: center;
    }

    .footercard li{
        list-style-type: none;
    }

    footer a{
        color: rgb(29, 48, 18);
        text-decoration: none;
    }

    footer a:hover{
        text-decoration: underline;
    }
    
    h6{
        color: rgb(29, 48, 18);
        font-size: 1.3em;
    }



    
    
}